.boxed {
    border-left: 2px solid #000000;
    padding-left: 2em;
    margin-bottom: 1em;
}

#jifty-wait-message {
    color: #000000;
    background: #FFFFFF;
    font-size: 1em;
    bottom: 10px;
}

